.skills-section {
  position: relative;
  min-height: 79vh;
  overflow: hidden;
}

.skills-background-blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/skills/skills.jpg'); 
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.5);
  z-index: 0;
}

.content-overlay {
  position: relative;
  z-index: 2;
}

.custom-progress .progress-bar {
  background-color: #0d6efd;
}

.skill-label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.skill-description {
  font-size: 0.95rem;
}
